<ion-header>
    <ion-toolbar>
      <ion-title>
        Alicia Byrne
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-avatar><img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/57325070_676096392824442_6856873132959989760_o.jpg?_nc_cat=105&_nc_ht=scontent.fopo2-1.fna&oh=f85cfa631e654bcc2fb76d0b80bf508d&oe=5D5ACD76"></ion-avatar>
        <ion-label> Alicia Byrne</ion-label>
      </ion-item>
    <2/ion-list>
  </div>
</ion-content>
